@model List<MovieDB.Models.Entities.MovieDirector>

@{
    ViewBag.Title = "List Movie-Director Assignments";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Movie Title</th>
        <th>Director Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Movie.Title</td>
            <td>@item.Director.Name</td>
            <td>
                @* Edit link might be less relevant if MovieDirector has no extra properties *@
                @* <a href="@Url.Action("Edit", "MovieDirectors", new { movieId = item.MovieId, directorId = item.DirectorId })" class="btn btn-secondary btn-sm">Edit</a> *@

                <form method="post" action="@Url.Action("DeleteConfirmed", "MovieDirectors", new { movieId = item.MovieId, directorId = item.DirectorId })" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to remove this director from this movie?');">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("Add", "MovieDirectors")" class="btn btn-primary">Assign Director to Movie</a>

<hr />
